@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .underline-title::after {
    bottom: -23px;
  }

  .underline-subtitle::after {
    bottom: -12px;
    width: 150px;
  }

  /* HEADER */
  .header__container {
    height: 130px;
    padding: 48px 0;
  }

  .header__logo-area {
    width: 197px;
    height: 33px;
    align-items: center;
  }

  /* BURGER */
  .header__nav {
    overflow: hidden;
  }

  .header__nav-list {
    position: absolute;
    top: 130px;
    left: -1024px;
    width: 297px;
    height: 585px;
    padding: 39px 0 0 55px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background: var(--bg-dark);
    visibility: hidden;
    transition: all 0.3s ease;
    transition-duration: 0.5s;
  }

  .header__nav-list.open {
    left: 0;
    z-index: 1000;
    visibility: visible;
    transition: 0.3s ease;
    transition-duration: 0.5s;
  }

  .header .nav-list__item {
    width: 100%;
    margin-left: 0;
    transition: 0.3s ease-out;
  }

  .nav-list__link {
    letter-spacing: 1.4px !important;
  }

  .header .nav-list__item::after {
    content: url(assets/svg/nav-arrow.svg);
  }

  .header .nav-list__item:hover,
  .header .nav-list__item:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }

  .burger.default {
    display: block;
    width: 32px;
    height: 18px;
    background: transparent url(assets/svg/burger-open.svg);
    cursor: pointer;
    transition: filter 0.2s linear;
  }

  .burger.default:hover,
  .burger.default:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }

  .burger.default.open {
    width: 25px;
    height: 25px;
    background: url(assets/svg/burger-close.svg);
    transition: filter 0.2s linear;
  }
  /* ----------------------------------------------- */

  /* WELCOME */
  .welcome__info {
    top: 50px;
  }

  .welcome__heading {
    width: 400px;
    font: 400 50px 'Forum', cursive;
    line-height: 90px;
    letter-spacing: 5px;
  }

  .welcome__paragraph {
    margin: 25px 0 50px 0;
    font: 300 24px 'Roboto', sans-serif;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .welcome__button {
    width: 300px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }

  .carousel {
    margin-left: 29%;
  }

  .carousel__container {
    padding-bottom: 120px;
  }

  .carousel__item {
    height: 465px;
    overflow: hidden;
  }

  .carousel__controls {
    left: 0;
    width: 100%;
    padding: 0 10.5% 0 31.5%
  }

  .controls__dots {
    column-gap: 2.4vw;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  /* VISITING */
  .visiting__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .visiting__container {
    padding-top: 60px;
    padding-bottom: 41px;
  }

  .cards__wrapper {
    margin-top: 83px;
    padding: 0 108px;
    row-gap: 43px;
    column-gap: 108px;
  }

  .cards__wrapper img {
    max-width: 330px;
    height: 215px;
  }

  .cards__heading {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 3px;
  }

  .cards__description {
    font-size: 20px;
    line-height: 23px;
  }

  .cards__description--small {
    font-size: 16px;
    line-height: 21px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 59px;
    padding-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }

  .explore__text-area {
    width: 100%;
  }

  .explore__heading {
    font: 400 50px "Forum", cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .explore__paragraph {
    margin-top: 0;
    line-height: 37px;
    letter-spacing: -0.9px;
  }

  .explore__paragraph_first {
    margin-top: 84px !important;
    max-width: 100%;
  }

  .explore__paragraph:nth-child(4) {
    display: none;
  }

  .photos {
    margin-top: 59px;
  }

  /* VIDEO */
  .video__container {
    padding: 60px 0;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
  }

  .video__heading {
    font: 400 50px "Forum", cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .video__text {
    display: none;
  }

  .player__wrapper {
    padding: 0;
  }

  .player {
    width: 984px;
    height: 444px;
  }

  .player__btn_large-play {
    left: calc((100% - 152px) / 2);
    top: calc((100% - 212px) / 2);
    width: 152px;
    height: 152px;
    background-size: contain;
  }

  .player__control-panel {
    width: 984px;
    height: 60px;
    gap: 30px;
    padding: 0 40px;
  }

  .player__btn_progress {
    width: 564px;
    height: 13px;
  }

  .volume-btns_container {
    column-gap: 30px;
  }

  .player__btn_mute {
    width: 26px;
    height: 20px;
    background-size: contain;
  }

  .player__btn_volume {
    width: 143px;
    height: 13px;
  }

  .player__btn_fullscreen {
    width: 26px;
    height: 26px;
    background-size: contain;
  }

  .other-videos iframe {
    width: 300px;
    height: 170px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .gallery__heading {
    margin-bottom: 60px;
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .gallery__pictures {
    max-height: 1265px;
  }

  .pictures__inner img {
    max-width: 304px;
  }

  .pictures__gradient {
    height: 239px;
  }

  /* TICKETS */
  .tickets__container {
    padding: 60px 0;
    row-gap: 84px;
  }

  .tickets__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .img__wrapper {
    width: 700px;
    height: 440px;
    overflow: hidden;
  }

  .tickets__content {
    display: flex;
    column-gap: 80px;
  }

  .tickets__type-list {
    display: none;
  }

  .tickets__amount-list {
    align-items: flex-start;
  }

  .amount-list__heading {
    margin-bottom: 18px;
  }

  .tickets__counter {
    width: 175px;
    margin-top: 9px;
    padding: 0 13px;
  }
  
  .amount-list__label_senior {
    margin-top: 29px;
  }

  .amount-list__total {
    margin-top: 24px;
    width: 166px;
    display: flex;
    justify-content: space-between;
  }

  .tickets__btn-submit {
    right: 29px;
    bottom: 0;
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 60px;
    padding-bottom: 61px;
    row-gap: 83px;
  }

  .contacts__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .address__heading {
    width: 185px;
    margin-bottom: 33px;
    font: 500 24px 'Roboto', sans-serif;
    line-height: 28px;
  }

  .address__item {
    margin-bottom: 17px;
    font: 300 20px 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 0;
  }

  .contacts__map {
    width: 694px;
    height: 454px;
    overflow: hidden;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 60px;
    padding-bottom: 68px;
    column-gap: 41px;
  }

  .footer__logo-area {
    width: 198px;
    height: 33px;
    align-items: flex-end;
  }

  .footer__logo-area a {
    line-height: 30.91px;
  }

  .footer__nav-list {
    width: 309px;
    padding: 7px 0;
    row-gap: 27px;
  }

  .footer__nav li {
    height: 24px;
  }

  .footer__socials {
    padding-bottom: 17px;
  }

  .footer__socials-list li {
    margin-left: 25px;
  }

  .footer__container_bottom {
    height: 122px;
    padding-bottom: 63px;
  }

  .footer__container_bottom::before {
    bottom: 154px;
  }
  
  .rs {
    padding-left: 13px;
  }

  /* FORM */
  .pop-up_form {
    top: calc((100vh - 768px)/2);
    left: 0;
    max-width: 1024px;
    height: 768px;
  }

  .pop-up__container {
    padding: 75px 30px 30px;
  }

  .close {
    right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  /* HEADER */
  .header__container {
    height: 110px;
    align-items: center;
  }

  .header__logo-area {
    width: 198px;
    height: 41px;
    align-items: flex-end;
    background-position: 0 55%;
  }

  .logo-area__heading {
    line-height: 0;
  }

  /* BURGER */
  .header__nav-list {
    top: 110px;;
    left: -768px;
    width: 768px;
    height: 861px;
    padding: 39px 55px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background: var(--bg-dark);
  }

  .nav-list__link {
    letter-spacing: 1.5px;
  }

  .header .nav-list__item:nth-child(7)::after {
    content: "";
  }

  .header__nav-footer {
    display: none;
  }

  .header__nav-footer.shown {
    margin: 0;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
  }

  .nav__footer-images {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
  }

  .nav__footer-img:nth-child(1) {
    flex-basis: 100%;
    height: 194px;
    background: url(assets/img/nav-768-img3.jpg);
  }

  .nav__footer-img:nth-child(2) {
    flex-grow: 1;
    height: 161px;
    background: url(assets/img/nav-768-img2.jpg);
  }

  .nav__footer-img:nth-child(3) {
    flex-grow: 1;
    height: 161px;
    background: url(assets/img/nav-768-img1.jpg);
  }

  .nav__footer-list {
    align-items: center;
  }

  .nav__footer-socials {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid var(--white);
  }

  .nav__footer-list {
    width: 340px;
    margin: 0 auto;
    column-gap: 25px;
  }

  .footer__socials-item {
    width: 48px;
    height: 48px;
    margin: 0;
    border: 1px solid #666666;
    border-radius: 50%;
    transition: 0.2s ease-out;
  }

  .footer__socials-item a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .footer__socials-item:hover,
  .footer__socials-item:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }
  /*-----------------------------------------*/

  /* WELCOME */
  .welcome__info {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .welcome__heading {
    width: 100%;
    text-align: center;
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .welcome__paragraph {
    width: 100%;
    font: 300 20px 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center;
  }

  .welcome__button {
    display: none;
  }

  .carousel {
    margin-left: 0;
    padding-top: 215px;
  }

  .carousel__container {
    padding-bottom: 96px;
  }

  .carousel__item {
    height: auto;
    overflow: initial;
  }

  .carousel__item::after {
    display: none;
  }

  .carousel__controls {
    height: 100px;
    padding: 0 22.4% 0 22.3%;
  }

  .controls__dots {
    column-gap: 3.25vw;
  }

  /* VISITING */
  .visiting__container {
    padding-top: 40px;
    padding-bottom: 65px;
  }

  .visiting__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .cards__wrapper {
    margin-top: 63px;
    padding: 0 56px;
    row-gap: 25px;
    column-gap: 56px;
  }

  .cards__wrapper img {
    max-width: 280px;
    height: 180px;
  }

  .cards__heading {
    margin-top: 21px;
    font-size: 22px;
    line-height: 24.29px;
    letter-spacing: 3px;
  }

  .cards__description {
    font-size: 18px;
    line-height: 21.09px;
  }

  .cards__description--small {
    font-size: 16px;
    line-height: 18.75px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 43px;
    padding-bottom: 40px;
  }

  .explore__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .explore__text-area {
    width: 100%;
  }

  .explore__paragraph {
    display: none;
  }

  .photos {
    margin-top: 63px;
    width: 100%;
    height: 705px;
  }

  .separator {
    top: 51.7%;
    left: 60.6%;
  }

  .separator::before {
    height: 344px;
  }

  .separator::after {
    height: 321px;
  }

  /* VIDEO */
  .video__container {
    padding-top: 40px;
    padding-bottom: 80px;
    row-gap: 20px;
  }

  .video__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .video__players {
    row-gap: 21px;
  }

  .player__wrapper {
    position: relative;
  }

  .player,
  .player__control-panel {
    max-width: 728px;
  }

  .player {
    height: 329px;
  }

  .player__btn_large-play {
    left: calc((100% - 80px) / 2);
    top: calc((100% - 136px) / 2);
    width: 80px;
    height: 80px;
  }

  .player__control-panel {
    height: 56px;
    padding: 0 30px;
    gap: 35px;
  }

  .player__btn_small-play {
    width: 23px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .player__btn_progress {
    position: absolute;
    bottom: 49px;
    left: 0;
    width: 728px;
    height: 13px;
  }

  .player__volume {
    column-gap: 27px;
  }

  .player__btn_mute {
    width: 27px;
    height: 21px;
  }

  .player__btn_volume {
    width: 486px;
    height: 13px;
  }

  .video-three {
    display: none;
  }

  .other-videos { 
    column-gap: 20px;
    row-gap: 16px;
  }

  .other-videos iframe {
    width: 354px;
    height: 199px;
  }

  .slider__controls {
    gap: 18px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 40px;
  }

  .gallery__heading {
    margin-bottom: 40px;
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .gallery__pictures {
    max-height: 1080px; 
  }

  .pictures__inner {
    columns: 2;
    column-gap: 24px;
  }

  .pictures__inner img {
    max-width: 352px;
  }

  .pictures__inner img:nth-child(10) {
    margin-top: 0;
  }

  /* TICKETS */
  .tickets__container {
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 63px;
  }

  .tickets__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .tickets__content {
    height: 430px;
    column-gap: 60px;
  }

  .img__wrapper {
    width: fit-content;
    height: fit-content;
  }

  .tickets__img {
    width: 444px;
    height: 340px;
  }

  .amount-list__heading {
    margin-bottom: 26px;
  }

  .tickets__counter {
    margin-top: 9px;
    padding: 0 15px;
  }

  .amount-list__label_senior {
    margin-top: 25px;
  }

  .amount-list__total {
    margin-top: 39px;
  }

  .tickets__btn-submit {
    right: 49px;
  }

  /* PARALLAX */
  .parallax {
    height: 300px;
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 40px;
    padding-bottom: 67px;
    flex-direction: column;
    row-gap: 0;
  }

  .contacts__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .address__heading {
    width: 155px;
    padding-top: 63px;
    margin-bottom: 40px;
    font: 500 20px 'Roboto', sans-serif;
    line-height: 23.44px;
  }

  .address__item {
    margin-bottom: 15px;
    font: 300 18px 'Roboto', sans-serif;
    line-height: 21.09px;
    letter-spacing: 0;
  }

  .contacts__map {
    width: 100%;
    height: 476px;
    margin-top: 24px;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 48px;
    padding-bottom: 0;
    flex-wrap: wrap;
    column-gap: 99px;
    row-gap: 22px;
  }

  .footer__logo-area {
    height: 26px;
  }

  .footer__logo-area a {
    line-height: 17.91px;
  }

  .footer__nav-list {
    width: 343px;
    row-gap: 22px;
  }

  .footer__nav-list a {
    font-size: 18px;
    line-height: 21.09px;
  }

  .footer__socials {
    padding-right: 90px;
    padding-bottom: 0;
  }

  .footer__container_bottom {
    height: 102px;
    padding-top: 93px;
  }

  .footer__container_bottom::before {
    bottom: 115px;
  }

  /* FORM */
  .pop-up_form {
    top: 0;
    left: calc((100% - 590px) / 2);
    width: 590px;
    height: 100vh;
    overflow-y: scroll;
  }

  .pop-up_form.closed {
    left: -768px;
  }

  .pop-up__container {
    padding-top: 79px;
  }

  .form__container {
    flex-direction: column;
    row-gap: 52px;
  }

  .form__heading {
    margin-bottom: 18px;
  }

  .form__heading, .form__description {
    width: 100%;
  }

  .form__content {
    margin-top: 39px;
  }

  .form__input,
  .date__wrapper,
  .time__wrapper,
  .form__quantity {
    width: 100%;
  }

  .form__container_right {
    padding: 23px 13px;
  }

  .payment__poster {
    top: 23px;
    right: 15px;
  }

  .payment__card {
    width: 500px;
    height: 240px;
  }

  .front {
    top: 6px;
    left: -1px;
  }

  .back {
    margin-top: 35px;
    margin-left: 140px;
  }

  .payment__btn {
    right: 16px;
    bottom: 22px;
  }

  .close {
    right: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .container {
    max-width: 420px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .underline-title::after {
    bottom: -12px;
  }

  .underline-subtitle::after {
    bottom: -9px;
  }

  /* HEADER */
  .header__container {
    height: 90px;
    padding: 0;
  }

  .header__logo-area {
    width: 138px;
    height: 27px;
    background-size: 29px 16px;
    background-position: 0 36%;
  }

  .logo-area__heading {
    font-size: 16px;
    line-height: 18px;
  }

  /* BURGER */
  .header__nav-list {
    top: 90px;
    left: -420px;
    width: 420px;
    height: 544px;
  }

  .nav__footer-images {
    column-gap: 13px;
  }

  .nav__footer-img {
    flex-grow: 1;
    height: 95px !important;
  }

  .nav__footer-img:nth-child(1) {
    flex-basis: 0;
  }

  .nav__footer-socials {
    margin-top: 19px;
    padding-top: 24px;
  }

  .nav__footer-list {
    width: 260px;
    column-gap: 5px;
  }
  /*-----------------------------------*/

  /* WELCOME */
  .welcome__heading {
    padding-top: 6px;
    font-size: 28px;
    line-height: 40px;
  }

  .welcome__paragraph {
    font-size: 16px;
    line-height: 19px;
  }

  .carousel {
    margin-left: 0;
    padding-top: 180px;
  }

  .carousel__container {
    padding-bottom: 75px;
  }

  .carousel__controls {
    height: 80px;
    padding: 0 20.0% 0 19.7%;
  }

  .controls__count {
    font-size: 16px;
    letter-spacing: 0.7px;
  }

  .controls__dots {
    column-gap: 10px;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

  .controls__buttons {
    column-gap: 13px;
  }

  .controls__buttons > button {
    width: 20px;
    height: 8px;
    background-size: 20px 8px;
    background-repeat: no-repeat;
  }

  /* VISITING */
  .visiting__container {
    padding-top: 31px;
    padding-bottom: 18px;
  }

  .visiting__heading {
    font-size: 28px;
  }

  .cards__wrapper {
    flex-direction: column;
    margin-top: 52px;
    padding: 0px 13%;
    row-gap: 19px;
  }

  .cards__wrapper img {
    max-width: 100%;
    height: auto;
  }

  .cards__heading {
    margin-top: 18px;
    font-size: 18px;
    letter-spacing: 5px;
  }

  .cards__description {
    font-size: 16px;
    margin-bottom: 18px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 32px;
  }

  .explore__heading {
    font-size: 28px;
  }

  .photos {
    margin-top: 51px;
    height: 368px;
  }

  .photo-original {
    width: 60.5%;
  }

  .separator {
    top: 51.8%;
    width: 20px;
    height: 20px;
    border-width: 3px;
  }

  .separator::before, .separator::after {
    left: 5.4px;
    width: 2px;
  }

  .separator::before {
    bottom: 16px;
    height: 181.5px;
  }

  .separator::after {
    top: 16px;
    height: 168px;
  }

  /* VIDEO */
  .video__container {
    padding-top: 27px;
    padding-bottom: 40px;
    row-gap: 9px;
  }

  .video__heading {
    font-size: 28px;
  }

  .video__players {
    row-gap: 39px;
  }

  .player, .player__control-panel {
    max-width: 380px;
  }

  .player {
    height: 172px;
  }

  .player__control-panel {
    height: 55px;
    padding: 0 20px;
    column-gap: 30px;
  }

  .player__btn_large-play {
    left: calc((100% - 51px) / 2);
    top: calc((100% - 104px) / 2);
    width: 50px;
    height: 50px;
  }

  .player__btn_small-play {
    width: 14px;
    height: 18px;
    background-size: 14px 18px;
  }

  .player__btn_progress {
    width: 100%;
    bottom: 51px;
    height: 5px;
  }

  .player__volume {
    column-gap: 30px;
  }

  .player__btn_mute {
    width: 18px;
    height: 14px;
  }

  .player__btn_volume {
    width: 200px;
    height: 4px;
  }

  .player__btn_fullscreen {
    width: 18px;
    height: 18px;
    margin: 0;
    background-size: 18px 18px;
  }

  .other-videos {
    row-gap: 36px;
  }

  .other-videos iframe {
    width: 180px;
    height: 101px;
  }

  .slider__controls {
    gap: 20px;
  }

  .slider-dot {
    width: 8px;
    height: 8px;
  }

  .slider-prew,
  .slider-next {
    width: 7px;
    height: 8px;
    background-size: 7px 8px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 31px;
  }

  .gallery__heading {
    margin-bottom: 29px;
    font-size: 28px;
  }

  .gallery__pictures {
    max-height: 637px;
  }

  .pictures__inner img {
    max-width: 178px;
  }

  /* TICKETS */
  .tickets__container {
    padding-top: 31px;
    row-gap: 52px;
  }

  .tickets__heading {
    font-size: 28px;
  }

  .tickets__content {
    flex-direction: column;
    height: 576px;
  }

  .img__wrapper {
    position: relative;
    width: 380px;
    height: 160px;
    overflow: hidden;
  }

  .tickets__img {
    position: absolute;
    width: 380px;
    height: 160px;
    object-fit: cover;
  }

  .amount-list {
    width: 175px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .amount-list__heading,
  .amount-list__label,
  .amount-list__total,
  .tickets__btn-submit {
    font-size: 16px;
  }

  .amount-list__heading {
    margin-bottom: 10px;
    align-self: center;
  }

  .tickets__counter {
    margin-top: 15px;
  }

  .amount-list__label_senior {
    margin-top: 20px;
  }

  .amount-list__total {
    width: 80px;
    align-self: center;
    letter-spacing: 0;
  }

  .tickets__btn-submit {
    right: 103px;
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 31px;
    padding-bottom: 40px;
  }

  .contacts__heading {
    font-size: 28px;
  }

  .address__heading,
  .address__item {
    font-size: 16px;
  }

  .address__heading {
    width: 130px;
    padding-top: 52px;
    line-height: initial;
  }

  .address__item {
    margin-bottom: 12px;
  }

  .contacts__map {
    height: 248px;
    margin-top: 28px;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 35px;
    flex-direction: column;
  }

  .footer__logo-area {
    width: 133px;
    background-size: 29px 25px;
  }

  .footer__nav-list {
    width: 100%;
    height: 68px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 65px 60px 77px;
    grid-template-rows: auto auto;
    row-gap: 30px;
    column-gap: 89px;
  }

  .footer__nav-list li {
    height: auto;
  }

  .footer__nav-list li:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer__nav-list li:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .footer__nav-list li:nth-child(3),
  .footer__nav-list li:nth-child(4) {
    padding-left: 5px;
  }

  .footer__nav-list a {
    letter-spacing: 1px;
  }

  .footer__socials {
    padding: 0;
    align-self: center;
  }

  .footer__socials-list {
    padding-top: 35px;
  }

  .footer__socials-list li {
    margin-left: 5px;
  }

  .footer__container_bottom::before {
    bottom: 113px;
  }

  .rs {
    display: none;
  }

  .bottom {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 3px;
  }

  /* FORM */
  .pop-up_form {
    left: calc((100% - 420px) / 2);
    width: 420px;
  }

  .pop-up_form.closed {
    left: -420px;
  }

  .form__container {
    flex-direction: column;
    row-gap: 52px;
  }

  .form__heading {
    margin-bottom: 0;
    font-size: 32px;
  }

  .form__description {
    height: 32px;
  }

  .form__date-and-time {
    row-gap: 20px;
    flex-direction: column;
  }

  .form__container_right {
    width: 360px;
    height: 885px;
    padding-top: 20px;
  }

  .payment__poster {
    top: 20px;
    right: 13px;
    width: 120px;
    height: 96px;
    background-size: contain;
  }

  .payment__description {
    margin-bottom: 8px;
  }

  .payment__ticket {
    margin-bottom: 24px;
  }

  .payment__total {
    padding-top: 7px;
  }

  .payment__card {
    position: relative;
    width: 330px;
    padding-top: 10px;
  }

  .credit-cards {
    position: static;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .card-field {
    position: initial;
    margin: 0;
    width: 330px;
    height: 209px;
  }

  .front__card-img {
    width: 56px;
    height: 65px;
    top: 44px;
    right: 19px;
    background-repeat: no-repeat;
  }

  .front__card-name {
    width: 290px;
  }

  .back__cvv-text {
    margin-right: 25px;
    margin-top: 4.5px;
  }

  .payment__btn {
    right: 14px;
    bottom: 30px;
  }
}