@media screen and (max-width: 1024px) {
  .container {
    max-width: 984px;
  }

  .underline-title::after {
    bottom: -23px;
  }

  .underline-subtitle::after {
    bottom: -12px;
    width: 150px;
  }

  /* HEADER */
  .header__container {
    height: 130px;
    padding: 48px 0;
  }

  .header__logo-area {
    width: 197px;
    height: 33px;
    align-items: center;
  }

  /* BURGER */
  .header__nav {
    overflow: hidden;
  }

  .header__nav-list {
    position: absolute;
    top: 130px;
    left: -1024px;
    width: 297px;
    height: 585px;
    padding: 35px 0 0 55px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background: var(--bg-dark);
    visibility: hidden;
    transition: all 0.3s ease;
    transition-duration: 0.5s;
  }

  .header__nav-list.open {
    left: 0;
    z-index: 1000;
    visibility: visible;
    transition: 0.3s ease;
    transition-duration: 0.5s;
  }

  .header__nav-list.open li {
    width: 100%;
    margin-left: 0;
    transition: 0.3s ease-out;
  }

  .header__nav-list.open li::after {
    content: url(assets/svg/nav-arrow.svg);
  }

  .header__nav-list.open li:hover,
  .header__nav-list.open li:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }

  .burger.default {
    display: block;
    width: 32px;
    height: 18px;
    background: transparent url(assets/svg/burger-open.svg);
    cursor: pointer;
    transition: filter 0.2s linear;
  }

  .burger.default:hover,
  .burger.default:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }

  .burger.default.open {
    width: 25px;
    height: 25px;
    background: url(assets/svg/burger-close.svg);
    transition: filter 0.2s linear;
  }
  /* ----------------------------------------------- */

  /* WELCOME */
  .welcome__img-wrapper {
    max-width: 984px;
    background-position: bottom 60px right 0;
    background-size: 700px 525px;
  }

  .welcome__container {
    height: 585px;
    padding: 50px 0 0 0;
  }

  .welcome__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 90px;
    letter-spacing: 5px;
  }

  .welcome__paragraph {
    margin: 25px 0 50px 0;
    font: 300 24px 'Roboto', sans-serif;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .welcome__button {
    width: 300px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }

  .welcome__slider {
    width: 700px;
    padding: 40px 75px 40px 224px;
  }

  .slider__count {
    font-size: 20px;
    letter-spacing: 2.3px;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  /* VISITING */
  .visiting__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .visiting__container {
    padding-top: 60px;
    padding-bottom: 41px;
  }

  .cards__wrapper {
    margin-top: 83px;
    padding: 0 108px;
    row-gap: 43px;
    column-gap: 108px;
  }

  .cards__wrapper img {
    max-width: 330px;
    height: 215px;
  }

  .cards__heading {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 3px;
  }

  .cards__description {
    font-size: 20px;
    line-height: 23px;
  }

  .cards__description--small {
    font-size: 16px;
    line-height: 21px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 61px;
    padding-bottom: 56px;
    flex-direction: column;
  }

  .explore__text-area {
    max-width: 100%;
  }

  .explore__heading {
    font: 400 50px "Forum", cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .explore__paragraph {
    margin-top: 0;
    line-height: 37px;
    letter-spacing: -0.9px;
  }

  .explore__paragraph_first {
    margin-top: 82px !important;
    max-width: 100%;
  }

  .explore__paragraph:nth-child(4) {
    display: none;
  }

  .explore__img-area {
    margin: 0 auto;
    padding-top: 61px;
  }

  /* VIDEO */
  .video__container {
    padding: 60px 0;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
  }

  .video__heading {
    font: 400 50px "Forum", cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .video__text {
    display: none;
  }

  .player__wrapper {
    padding: 0;
  }

  .player {
    width: 984px;
    height: 444px;
  }

  .player__btn_large-play {
    left: calc((100% - 152px) / 2);
    top: calc((100% - 212px) / 2);
    width: 152px;
    height: 152px;
    background-size: contain;
  }

  .player__control-panel {
    width: 984px;
    height: 60px;
    gap: 30px;
    padding: 0 40px;
  }

  .player__btn_progress {
    width: 564px;
    height: 13px;
  }

  .volume-btns_container {
    column-gap: 30px;
  }

  .player__btn_mute {
    width: 26px;
    height: 20px;
    background-size: contain;
  }

  .player__btn_volume {
    width: 143px;
    height: 13px;
  }

  .player__btn_fullscreen {
    width: 26px;
    height: 26px;
    background-size: contain;
  }

  .other-videos iframe {
    width: 300px;
    height: 170px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .gallery__heading {
    margin-bottom: 60px;
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .gallery__pictures {
    max-height: 1265px;
  }

  .pictures__inner img {
    max-width: 304px;
  }

  .pictures__gradient {
    height: 239px;
  }

    /* TICKETS */
  .tickets__container {
    padding: 60px 0;
    row-gap: 84px;
  }

  .tickets__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .img__wrapper {
    width: 700px;
    height: 440px;
    overflow: hidden;
  }

  .tickets__content {
    display: flex;
    column-gap: 80px;
  }

  .tickets__type-list {
    display: none;
  }

  .tickets__amount-list {
    align-items: flex-start;
  }

  .amount-list__heading {
    margin-bottom: 18px;
  }

  .tickets__counter {
    width: 175px;
    margin-top: 9px;
    padding: 0 13px;
  }
  
  .amount-list__label_senior {
    margin-top: 29px;
  }

  .amount-list__total {
    margin-top: 24px;
    width: 166px;
    display: flex;
    justify-content: space-between;
  }

  .tickets__btn-submit {
    right: 29px;
    bottom: 0;
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 60px;
    padding-bottom: 61px;
    row-gap: 83px;
  }

  .contacts__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .address__heading {
    width: 185px;
    margin-bottom: 33px;
    font: 500 24px 'Roboto', sans-serif;
    line-height: 28px;
  }

  .address__item {
    margin-bottom: 17px;
    font: 300 20px 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 0;
  }

  .contacts__map {
    width: 694px;
    height: 454px;
    overflow: hidden;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 60px;
    padding-bottom: 68px;
    column-gap: 41px;
  }

  .footer__logo-area {
    width: 198px;
    height: 33px;
    align-items: flex-end;
  }

  .footer__logo-area a {
    line-height: 30.91px;
  }

  .footer__nav-list {
    width: 309px;
    padding: 7px 0;
    row-gap: 27px;
  }

  .footer__nav li {
    height: 24px;
  }

  .footer__socials {
    padding-bottom: 17px;
  }

  .footer__socials-list li {
    margin-left: 25px;
  }

  .footer__container_bottom {
    height: 122px;
    padding-bottom: 63px;
  }

  .footer__container_bottom::before {
    bottom: 154px;
  }
  
  .rs {
    padding-left: 13px;
  }

  /* FORM */
  .pop-up_form {
    top: calc((100vh - 768px)/2);
    left: 0;
    max-width: 1024px;
    height: 768px;
  }

  .pop-up__container {
    padding: 75px 30px 30px;
  }

  .close {
    right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 728px;
  }

  /* HEADER */
  .header__container {
    height: 110px;
    align-items: center;
  }

  .header__logo-area {
    width: 198px;
    height: 41px;
    align-items: flex-end;
    background-position: 0 55%;
  }

  .logo-area__heading {
    line-height: 0;
  }

  /* WELCOME */
  .welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 861px;
  }

  .welcome__img-wrapper {
    max-width: 728px;
    background-image: url(assets/img/new-768-welcome-background.jpg);
    background-size: 728px 546px;
    background-position: top 215px left 0;
  }

  .welcome__heading {
    width: 100%;
    text-align: center;
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .welcome__paragraph {
    font: 300 20px 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 2px;
  }

  .welcome__button {
    display: none;
  }

  .welcome__slider {
    bottom: 30px;
    right: inherit;
    width: 400px;
    height: 40px;
    padding: 0;
  }

  /* VISITING */
  .visiting__container {
    padding-top: 40px;
    padding-bottom: 65px;
  }

  .visiting__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .cards__wrapper {
    margin-top: 63px;
    padding: 0 56px;
    row-gap: 25px;
    column-gap: 56px;
  }

  .cards__wrapper img {
    max-width: 280px;
    height: 180px;
  }

  .cards__heading {
    font-size: 22px;
    line-height: 24.29px;
    letter-spacing: 3px;
  }

  .cards__description {
    font-size: 18px;
    line-height: 21.09px;
  }

  .cards__description--small {
    font-size: 16px;
    line-height: 18.75px;
  }






  .player,
  .player__control-panel {
    max-width: 728px;
  }

  .footer__container_top {
    flex-wrap: wrap;
  }
}