/* BASICS */
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;
  --font-80: 80px;
  --font-32: 32px;
  --font-28: 28px;
  --font-22: 22px;
}

.forum-font-80 {
  font: var(--font-80) 'Forum', cursive;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.forum-font-32 {
  font: var(--font-32) 'Forum', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
}

.forum-font-28 {
  font: var(--font-28) 'Forum', cursive;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.roboto-font-28 {
  font: var(--font-28) 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--white);
}

.roboto-font-22-white {
  font: 100 var(--font-22) 'Roboto', sans-serif;
  color: var(--white);
}

.roboto-font-22-black {
  font: 300 var(--font-22) 'Roboto', sans-serif;
  color: var(--black);
}

.bg-dark {
  background: var(--bg-dark);
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-subtitle {
  position: relative;
}
.underline-subtitle::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: var(--dark-red);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.no-outline {
  outline: none;
  border: none;
}

.no-outline:hover,
.no-outline:active,
.no-outline:focus {
  outline: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
button {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 75px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  width: 100%;
}

.header__container {
  padding-top: 53px;
  padding-bottom: 48px;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list > li {
  margin-left: 2.93vw;
}

.header__nav-footer {
  margin-left: 0 !important;
}

.default {
  display: none;
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__container_top {
  width: 100%;
  gap: 9.5%;
  padding-top: 76px;
}

.footer__logo-area {
  -webkit-flex-basis: 14%;
  flex-basis: 14%;
  align-self: flex-start;
}

.footer__nav {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}

.footer__nav-list {
  flex-wrap: wrap;
  align-content: space-between;
  height: 150px;
}

.footer__nav-list li {
  height: 50px;
  align-items: center;
}

.footer__socials {
  padding-bottom: 15px;
  align-self: flex-end;
  flex: 1;
}

.footer__socials-list {
  justify-content: flex-end;
  align-items: center;
}

.footer__socials-list li {
  width: 3.5vw;
  height: 3.5vw;
  margin-left: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__socials-list li:nth-child(1) {
  margin-left: 0;
}

.footer__socials-list a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.footer__socials-list li:hover,
.footer__socials-list li:active {
  filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
}

.footer__container_bottom {
  width: 100%;
  height: 100px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.footer__container_bottom::before {
  content: "";
  position: absolute;
  bottom: 93px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #666666;
}

.bottom {
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 100;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.rs:hover,
.rs:active,
.git:hover,
.git:active {
  color: var(--font-gold);
}

/* HEADER & FOOTER COMMON */
.logo-area {
  /* width: 195px; */
  height: 50px;
  padding-left: 5%;
  justify-content: flex-end;
  background: 0 30% no-repeat url(assets/svg/logo.svg);
  background-size: 25% 70%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.logo-area:hover,
.logo-area:active {
  filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  color: var(--font-gold);
  cursor: pointer;
}

.nav-list a {
  line-height: 50%;
  letter-spacing: 2px;
  text-transform: capitalize;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-list a:hover,
.nav-list a:active {
  color: var(--font-gold);
}

/* MAIN */
.main {
  flex: 1;
}

/*WELCOME */
.welcome {
  width: 100%;
}

.welcome__container {
  position: relative;
  padding: 0;
}

.welcome__info {
  position: absolute;
  left: 20px;
  top: 150px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button__wrapper {
  width: fit-content;
}

.welcome__heading {
  width: 600px;
  color: var(--white);
}

.welcome__paragraph {
  width: fit-content;
  margin: 23px 0 75px 0;
}

.welcome__button {
  display: block;
  width: 360px;
  height: 75px;
  margin: 0;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  background-color: var(--dark-red);
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.welcome__button:hover,
.welcome__button:active {
  background-color: var(--font-gold);
}

.carousel {
  margin-left: 30.6%;
}

.carousel__container {
  position: relative;
  max-width: 1000px;
  padding-bottom: 55px;
  overflow: hidden;
}

.carousel__item {
  position: relative;
  display: none;
  margin: 0 auto;
  width: fit-content;
  -webkit-animation: 0.3s ease-in-out;
  animation: 0.3s ease-in-out;
}

.carousel__item img {
  max-width: 100%;
  height: auto;
}

.carousel__item::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(90deg, #030303 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.carousel__item.active,
.carousel__item.next {
  display: block;
}

.carousel__item.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.carousel__controls {
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 60%;
  height: 120px;
  padding: 0 4.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-dark);
}

.controls__count {
  line-height: 40px;
  letter-spacing: 1.7px;
}

.controls__dots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 1.3vw;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dot {
  width: 16px;
  height: 16px;
  background: #fff;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.dot.active {
  background: #d2b183;
}

.controls__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
}

.controls__buttons > button {
  width: 30px;
  height: 8px;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.welcome_prev {
  background: url(assets/svg/welcome-slider-prev.svg) no-repeat center;
}

.welcome_next {
  background: url(assets/svg/welcome-slider-next.svg) no-repeat center;
}

.controls__buttons > button:hover,
.controls__buttons > button:active {
  filter: invert(30%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(75%);
}

/* VISITING */
.visiting {
  width: 100%;
}

.visiting__container {
  padding-top: 75px;
  padding-bottom: 57px;
}

.visiting__heading {
  color: var(--font-gold);
}

.cards__wrapper {
  width: 100%;
  margin-top: 102px;
  flex-wrap: wrap;
  gap: 59px 60px;
  justify-content: center;
}

.card {
  display: block;
}

.card:hover .underline-subtitle::after,
.card:active .underline-subtitle::after {
  width: 100%;
}

.cards__heading {
  margin-top: 20px;
}

.cards__description {
  margin-top: 21px;
  margin-bottom: 17px;
  font-weight: 100;
}

.cards__description--small {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

/* EXPLORE */
.explore {
  width: 100%;
}

.explore__container {
  padding-top: 74px;
  padding-bottom: 76px;
  gap: 0 60px;
}

.explore__text-area {
  width: 660px;
}

.explore__heading,
.explore__paragraph {
  color: var(--white);
}

.explore__paragraph {
  margin-top: 25px;
  font-weight: 300;
  line-height: 38.5px;
  white-space: normal;
}

.explore__paragraph_first {
  margin-top: 105px !important;
  max-width: 640px;
}

.explore__yellow-text {
  color: #caaa7d;
}

.photos {
  position: relative;
  margin-top: 15px;
  width: 720px;
  height: 700px;
}

.photo,
.photo-original {
  position: absolute;
  width: 100%;
  height: 100%;
}

.photo-original {
  width: 50%;
  z-index: 2;
  background-color: transparent;
  background: url(assets/img/picture-explore-warm.png) no-repeat top left;
  background-size: cover;
}

.toaster {
  z-index: 1;
  background: url(assets/img/picture-explore-cold.png) no-repeat top right;
  background-size: cover;
}

.separator {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 5px solid var(--white);
  border-radius: 50%;
  cursor: e-resize;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  left: 12px;
  width: 5px;
  height: 330px;
  background-color: #fff;
}

.separator::before {
  bottom: 35px;
}

.separator::after {
  top: 35px;
}

/* VIDEO */
.video {
  width: 100%;
}

.video__container {
  padding-top: 75px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px 0;
}

.video__heading {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  color: var(--font-gold);
}

.video__text {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  line-height: 38.5px;
}

.video__players {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.video__carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.carousel__wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel__list {
  position: relative;
  padding-bottom: 17.6%;
  display: flex;
  align-items: center;
  gap: 2.91%;
  list-style-type: none;
}

.video__item {
  position: absolute;
  top: 0;
  width: 31.38%;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.carousel-video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.carousel-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__item-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  background: url(assets/svg/play-youtube-btn.svg) no-repeat;
  background-size: 68px 48px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__item-name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  padding-left: 55px;
  font: 400 18px "Roboto", sans-serif;
  line-height: 40px;
  white-space: nowrap;
  color: var(--white);
  background: url(assets/svg/play-youtube-btn.png) no-repeat;
  background-size: 40px 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.video__item-name:hover {
  text-decoration: underline;
}

.controls__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.controls__item {
  height: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.controls__btn {
  width: 10px;
  background-color: transparent;
}

.controls__btn:hover {
  filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(100deg) brightness(50%) contrast(100%);
}

.video-dots {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-dot {
  width: 12px;
  border-radius: 50%;
  background-color: #999999;
}

.video-dot:hover {
  background-color: #333333;
}

.slider__dot_default {
  background-color: #333333;
}

.prev_btn {
  background: url(assets/svg/video-slider-prev.svg) no-repeat;
}

.next_btn {
  background: url(assets/svg/video-slider-next.svg) no-repeat;
}

.video__item.to-left {
  animation: toLeft 0.3s ease-in-out;
}

@keyframes toLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.video__item.to-right {
  animation: toRight 0.3s ease-in-out;
}

@keyframes toRight {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

/*CUSTOM VIDEO PLAYER */
.player__inner {
  position: relative;
  margin-top: 36px;
  height: 735px;
  flex-grow: 3;
  display: grid;
  grid-template-rows: 1fr 85px;
  background-color: var(--black);
}

.video__wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.player {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

.player__speed {
  position: absolute;
  top: calc((100% - 650px) / 2);
  width: 125px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 30px "Roboto", sans-serif;
  color: var(--white);
  background-color: var(--bg-dark);
  border-radius: 5px;
  -webkit-animation: speedShow 1.5s linear;
  animation: speedShow 1.5s linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  opacity: 0;
}

@keyframes speedShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.player__speed.hidden {
  display: none;
}

.player__btn_large-play {
  position: absolute;
  left: calc((100% - 220px) / 2);
  top: calc((100% - 303px) / 2);
  width: 220px;
  height: 220px;
  background: url(assets/svg/large-play-btn.svg) no-repeat center center;
  background-size: cover;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.player__controls {
  width: 100%;
  align-items: center;
  gap: 0 3.7%;
  padding: 0 2%;
  background-color: var(--black);
}

.player__btn_small-play {
  -webkit-flex-basis: 23px;
  flex-basis: 23px;
  height: 31px;
  background-image: url(assets/svg/small-play-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.player__btn_small-play.playing {
  background-image: url(assets/svg/pause-btn.svg);
  background-position: center;
}

.progress-input {
  height: 8px;
  outline: none;
  cursor: pointer;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress-input::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #fff;
  -webkit-appearance: none;
}

.player__progress {
  width: 67.3%;
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
}

.volume__container {
  -webkit-flex-basis: 17.5%;
  flex-basis: 17.5%;
  align-items: center;
  gap: 0 10%;
}

.player__btn_mute {
  -webkit-flex-basis: 27%;
  flex-basis: 27%;
  height: 31px;
  background-image: url(assets/svg/sound-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.player__btn_mute.muted {
  background-image: url(assets/svg/mute-btn.svg);
  background-position: center;
}

.player__volume {
  width: 63.8%;
  background: linear-gradient(to right, #710707 0%, #710707 100%, #c4c4c4 0%, #c4c4c4 100%);
}

.player__btn_fullscreen {
  -webkit-flex-basis: 35px;
  flex-basis: 35px;
  height: 35px;
  background-image: url(assets/svg/fullscreen-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.player__btn_fullscreen.opened {
  background-image: url(assets/svg/fullscreen-btn-opened.svg);
  background-position: center;
}

.player__inner button:hover,
.player__inner button:active {
  filter: invert(100%) sepia(0%) saturate(2806%) hue-rotate(227deg) brightness(108%) contrast(30%);
}

/* GALLERY */
.gallery {
  width: 100%;
}

.gallery__container {
  padding-top: 75px;
}

.gallery__heading {
  color: var(--white);
  margin-bottom: 75px;
}

.gallery__pictures {
  position: relative;
  max-height: 1385px;
  overflow: hidden;
}

.pictures__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: dense;
  gap: 0 2.5%;
}

.pictures__inner img {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-bottom: 18.5px;
  padding: 0;

  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate(0, 20%);
  transform: translate(0, 20%);
}

.img-show {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.pictures__inner img:nth-child(3n+1) {
  grid-column-start: 1;
  top: 50px;
}

.pictures__inner img:nth-child(3n+2) {
  grid-column-start: 2;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.pictures__inner img:nth-child(3n+3) {
  grid-column-start: 3;
  top: 50px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.pictures__inner .square {
  grid-row-end: span 4;
}

.pictures__inner .vertical {
  grid-row-end: span 5;
}

.pictures__inner .horizontal {
  grid-row-end: span 3;
}

.img-show {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.pictures__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.pictures__link {
  width: 150px;
  font-weight: 500;
  text-align: center;
  letter-spacing: normal;
  color: var(--bg-dark);
  background-color: var(--white);
  border: 3px solid var(--bg-dark);
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pictures__link:hover {
  color: var(--font-gold);
  border-color: var(--font-gold);
  background-color: transparent;
}


/* TICKETS */
.tickets {
  width: 100%;
}

.tickets__container {
  padding-top: 75px;
  padding-bottom: 72px;
  gap: 102px 0;
}

.tickets__heading {
  color: var(--font-gold);
}

.tickets__content {
  display: grid;
  gap: 0 4%;
  grid-template-columns: 50% auto auto;
}

.img__wrapper img {
  max-width: 100%;
  height: auto;
}

.type-list__heading,
.amount-list__heading {
  font-weight: 700;
  letter-spacing: normal;
  color: var(--black);
}

.type-list__heading {
  margin-bottom: 25px;
}

.amount-list__heading {
  margin-bottom: 15px;
}

/* ------------------------ */
.tickets__type-list {
  align-items: flex-start;
  gap: 25px 0;
}

.type-list__label {
  position: relative;
  padding-left: 40px;
  font-weight: 300;
  cursor: pointer;
}

.type-list__label:hover input ~ .checkmark,
.type-list__label:active input ~ .checkmark {
  background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid var(--black);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.type-list__input {
  position: absolute;
  opacity: 0;
}

.type-list__label input:checked ~ .checkmark {
  background-color: var(--dark-red);
}

/* -------------------- */
.tickets__amount-list {
  position: relative;
  align-items: flex-end;
}

.amount-list__label {
  margin-top: 10px;
  padding-right: 56px;
  font-weight: 300;
}

.amount-list__label_senior {
  padding-right: 47px;
  margin-top: 12px;
}

.tickets__counter {
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 13px;
  padding: 0 11px;
  border: 3px solid var(--black);
}

.counter_btn-minus,
.counter_btn-plus {
  font: 400 32px 'Roboto', sans-serif;
  color: var(--black);
  background: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.counter_btn-minus:hover,
.counter_btn-plus:hover,
.counter_btn-minus:active,
.counter_btn-plus:active {
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(2806%) hue-rotate(227deg) brightness(40%) contrast(60%);
} 

/* hiding count arrows from input type number */
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter-result {
  width: 26px;
  height: 26px;
  font: 300 22px 'Roboto', sans-serif;
  text-align: center;
  color: var(--black);
  background: transparent;
}

.amount-list__total {
  margin-top: 2.6vw;
  font-weight: 700;
  letter-spacing: 1.65px;
  color: var(--black);
}

.tickets__btn-submit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 175px;
  height: 50px;
  letter-spacing: 2px;
  color: var(--white);
  background: var(--black);
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.tickets__btn-submit:hover,
.tickets__btn-submit:active {
  background: var(--font-gold);
  cursor: pointer;
}

/* Tickets FORM */
.pop-up_form {
  position: fixed;
  z-index: 1000;
  top: calc((100vh - 849px) / 2);
  left: calc((100% - 1440px) / 2);
  width: 1440px;
  height: 849px;
  visibility: visible;
  background-color: var(--white);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.pop-up_form.closed {
  left: -1800px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  background: transparent url(assets/svg/tickets-form-close.svg) center center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.close:hover,
.close:active {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.pop-up__overlay {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0.8;
  visibility: visible;
}

.pop-up__overlay.transparent {
  opacity: 0;
  visibility: hidden;
}

.pop-up__container {
  padding: 91px 235px;
}

.form__container {
  margin: 0 auto;
  display: flex;
  gap: 0 40px;
}

/* LEFT SIDE */
.form__heading,
.form__description {
  width: 400px;
}

.form__heading {
  height: 94px;
  margin-bottom: 15px;
  padding-top: 41px;
  font: 50px 'Forum', cursive;
  text-transform: uppercase;
  color: var(--font-gold);
  background: transparent url(assets/svg/form-logo.svg) no-repeat 0 0;
}

.form__description {
  height: 34px;
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  color: #710707;
  border-bottom: 3px solid#740C11;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-top: 60px;
}

.form__date-and-time {
  display: flex;
  gap: 0 20px;
}

.form__input,
.date__wrapper,
.time__wrapper {
  width: 400px;
  height: 45px;
  padding-left: 45px;
  border: 1px solid var(--bg-dark);
  font: 400 18px 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  color: var(--bg-dark);
}

.form__input::placeholder {
  color: var(--bg-dark);
  opacity: 1;
}

.date__wrapper,
.time__wrapper {
  position: relative;
  width: 190px;
  padding-top: 12px;
}

.date,
.time {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
  cursor: pointer;
}

.date__wrapper {
  background-image: url(assets/svg/date-icon-input.svg);
}

.time__wrapper {
  background-image: url(assets/svg/time-icon-input.svg);
}

.name {
  background-image: url(assets/svg/name-icon-input.svg);
}

.email {
  background-image: url(assets/svg/email-icon-input.svg);
}

.tel {
  background-image: url(assets/svg/phone-icon-input.svg);
}

.ticket {
  position: relative;
  padding-left: 39px;
  background-image: url(assets/svg/ticket-icon-input.svg);
  cursor: pointer;
}

.form__quantity {
  width: 400px;
  height: 135px;
  padding: 10px 15px;
  border: 1px solid var(--bg-dark);
}

.quantity__heading {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font: 400 18px 'Forum', cursive;
  line-height: 20px;
  border-bottom: 2px solid #740C11;
  color: var(--font-gold);
}

.basic__row,
.senior__row {
  justify-content: space-between;
  align-items: center;
}

.basic__row {
  margin-bottom: 18px;
}

.basic__name,
.senior__name {
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  color: var(--bg-dark);
}

.name__count {
  width: 105px;
  height: 25px;
  display: flex;
  border: 1px solid var(--bg-dark);
}

.name__count input,
.name__count button {
  width: 35px;
  cursor: pointer;
}

.name__count button {
  background-color: var(--bg-dark);
  color: var(--white);
}

.name__count button:hover {
  background: var(--font-gold);
}

.name__count input {
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  text-align: center;
  color: var(--bg-dark);
}

/* RIGHT SIDE */
.form__container_right {
  position: relative;
  width: 530px;
  height: 663px;
  padding: 25px 30px;
  border: 1px solid var(--bg-dark);
}

.payment__poster {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 150px;
  height: 120px;
  background: url(assets/img/payment-poster.jpg);
}

.payment__heading {
  margin-bottom: 2px;
  font: 500 32px 'Roboto', sans-serif;
  line-height: 38px;
  color: #272727;
}

.payment__description {
  margin-bottom: 10px;
  font: 500 22px 'Roboto', sans-serif;
  line-height: 25,78px;
  color: #740C11;
}

.payment__date,
.payment__time,
.payment__ticket {
  padding-left: 30px;
  margin-bottom: 5px;
  font: 300 18px 'Roboto', sans-serif;
  line-height: 21,09;
  color: var(--bg-dark);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.payment__date {
  background-image: url(assets/svg/date-icon-input.svg);
}

.payment__time {
  background-image: url(assets/svg/time-icon-input.svg);
}

.payment__ticket {
  margin-bottom: 22px;
  background-image: url(assets/svg/ticket-icon-payment.svg);
}

.payment__basic,
.payment__senior {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.payment__senior {
  padding-bottom: 9px;
  border-bottom: 2px solid #740C11;
}

.payment__basic_num,
.payment__senior_num {
  width: 32px;
  height: 20px;
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  text-align: center;
  background: var(--bg-dark);
  border-radius: 6px;
  color: #a4a4a3;
}

.payment__basic_name,
.payment__senior_name,
.payment__basic_price,
.payment__senior_price {
  font: 400 22px 'Roboto', sans-serif;
  line-height: 26px;
  color: var(--bg-dark);
}

.payment__basic_name,
.payment__senior_name {
  padding-left: 10px;
  flex-grow: 8;
}

.payment__total {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 32px 'Roboto', sans-serif;
  line-height: 38px;
  color: var(--bg-dark);
}

/* CREDIT CARDS */
.payment__card {
  padding-top: 5px;
  width: 470px;
  height: 241px;
}

.credit-cards {
  position: relative;
  display: flex;
}

.card-field {
  position: absolute;
  width: 360px;
  height: 211px;
  border-radius: 5px;
}

.front {
  top: 0;
  left: 0;
  z-index: 3000;
  background: #BCBCBC;
}

.front__wrap {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.front__wrap label,
.back label {
  display: flex;
  flex-direction: column;
  font: 400 12px 'Roboto', sans-serif;
  line-height: 14px;
  color: #161615;
}

.front__wrap label input,
.front__wrap label select {
  margin-top: 5px;
  height: 35px;
  padding-left: 4px;
  cursor: pointer;
}

.front__card-number {
  width: 215px;
}

.front__card-full-date {
  display: flex;
  align-items: flex-end;
  gap: 0 15px;
}

.front__card-month,
.front__card-year {
  width: 100px;
}

.front__card-name {
  width: 320px;
}

.front__card-img {
  position: absolute;
  top: 34px;
  right: 20px;
  width: 55px;
  height: 63px;
  background: url(assets/img/credit-card-logo.png);
}

.back {
  margin-top: 30px;
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #939393;
}

.line {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #161615;
}

.back label {
  padding-right: 20px;
  align-items: center;
}

.back__cvv {
  width: 75px;
  height: 35px;
  margin-top: 5px;
  text-align: center;
}

.back__cvv-text {
  width: 55px;
  height: 50px;
  margin-right: 30px;
  margin-top: 6.5px;
  font: 400 10px 'Roboto', sans-serif;
  line-height: 12px;
  color: #161515;
  cursor: pointer;
}
/*-----------------------------------------*/

.payment__btn {
  position: absolute;
  right: 30px;
  bottom: 25px;
  width: 220px;
  height: 45px;
  margin-top: 26px;
  font: 400 22px 'Roboto', sans-serif;
  line-height: 26px;
  color: var(--white);
  background-color: #710707;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.payment__btn:hover,
.payment__btn:active {
  background-color: var(--font-gold);
}

input:invalid {
  box-shadow: 0 0 5px 1px #b30000;
}


/* PARALLAX */
.parallax {
  width: 100%;
  height: 400px;
  background-image: url(assets/img/parallax.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* CONTACTS */
.contacts {
  width: 100%;
}

.contacts__container {
  padding-top: 75px;
  padding-bottom: 66px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 102px 0;
}

.contacts__heading {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  color: var(--font-gold);
}

.address__heading {
  width: 220px;
  margin-bottom: 50px;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--black);
}

.address__item {
  margin-bottom: 25px;
}

.contacts__address a {
  color: inherit;
}

.contacts__map {
  width: 66.5%;
  height: 630px;
  overflow: hidden;
}


.scroll-up__btn {
  position: fixed;
  right: 20px;
  z-index: 100000;
  width: 60px;
  height: 60px;
  background: var(--white) url(assets/svg/uparrow.svg) no-repeat top 50% left 50%;
  /* filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(159deg) brightness(112%) contrast(104%); */
  background-size: 60px 60px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scroll-up__btn.hidden {
  display: none;
}

.scroll-up__btn:hover {
  filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  background-color: transparent !important;
  cursor: pointer;
}