@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .underline-title::after {
    bottom: -23px;
  }

  .underline-subtitle::after {
    bottom: -12px;
    width: 150px;
  }

  /* HEADER */
  .header__container {
    height: 130px;
    padding: 48px 0;
  }

  .header__logo-area {
    width: 197px;
    height: 33px;
    align-items: center;
  }

  /* BURGER */
  .header__nav {
    overflow: hidden;
  }

  .header__nav-list {
    position: absolute;
    top: 130px;
    left: -1024px;
    width: 297px;
    height: 585px;
    padding: 39px 0 0 55px;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    background: var(--bg-dark);
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .header__nav-list.open {
    left: 0;
    z-index: 1000;
    visibility: visible;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .header .nav-list__item {
    width: 100%;
    margin-left: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .nav-list__link {
    letter-spacing: 1.4px !important;
  }

  .header .nav-list__item::after {
    content: url(assets/svg/nav-arrow.svg);
  }

  .header .nav-list__item:hover,
  .header .nav-list__item:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }

  .burger.default {
    display: block;
    width: 32px;
    height: 18px;
    background: transparent url(assets/svg/burger-open.svg);
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
  }

  .burger.default:hover,
  .burger.default:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }

  .burger.default.open {
    width: 25px;
    height: 25px;
    background: url(assets/svg/burger-close.svg);
    -webkit-transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
  }
  /* ----------------------------------------------- */

  /* WELCOME */
  .welcome__info {
    top: 50px;
  }

  .welcome__heading {
    width: 400px;
    font: 400 50px 'Forum', cursive;
    line-height: 90px;
    letter-spacing: 5px;
  }

  .welcome__paragraph {
    margin: 25px 0 50px 0;
    font: 300 24px 'Roboto', sans-serif;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .welcome__button {
    width: 300px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }

  .carousel {
    margin-left: 29%;
  }

  .carousel__container {
    padding-bottom: 120px;
  }

  .carousel__item {
    height: 465px;
    overflow: hidden;
  }

  .carousel__controls {
    left: 0;
    width: 100%;
    padding: 0 0 0 30%;
  }

  .controls__dots {
    gap: 0 2.4vw;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

  /* VISITING */
  .visiting__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .visiting__container {
    padding-top: 60px;
    padding-bottom: 41px;
  }

  .cards__wrapper {
    margin-top: 83px;
    padding: 0 108px;
    gap: 43px 108px;
  }

  .cards__wrapper img {
    max-width: 330px;
    height: 215px;
  }

  .cards__heading {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 3px;
  }

  .cards__description {
    font-size: 20px;
    line-height: 23px;
  }

  .cards__description--small {
    font-size: 16px;
    line-height: 21px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 59px;
    padding-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }

  .explore__text-area {
    width: 100%;
  }

  .explore__heading {
    font: 400 50px "Forum", cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .explore__paragraph {
    margin-top: 0;
    line-height: 37px;
    letter-spacing: -0.9px;
  }

  .explore__paragraph_first {
    margin-top: 84px !important;
    max-width: 100%;
  }

  .photos {
    margin-top: 59px;
  }

  /* VIDEO */
  .video__container {
    padding: 60px 0 56px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px 0;
  }

  .video__heading {
    font: 400 50px "Forum", cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .video__text {
    display: none;
  }

  .player__wrapper {
    padding: 0;
  }

  .player__inner {
    margin-top: 0;
    height: 504px;
    grid-template-rows: 1fr 60px;
  }

  .player {
    width: 984px;
    height: 444px;
  }

  .player__btn_large-play {
    left: calc((100% - 152px) / 2);
    top: calc((100% - 212px) / 2);
    width: 152px;
    height: 152px;
    background-size: contain;
  }

  .player__controls {
    width: 100%;
    gap: 0 3.5%;
    padding: 0 4%;
  }

  .player__progress {
    -webkit-flex-basis: 63%;
    flex-basis: 63%;
  }

  .volume__container {
    -webkit-flex-basis: 22%;
    flex-basis: 22%;
    gap: 0 14%;
  }

  .player__btn_mute {
    -webkit-flex-basis: 26px;
    flex-basis: 26px;
    height: 20px;
    background-size: contain;
  }

  .player__volume {
    -webkit-flex-basis: 73%;
    flex-basis: 73%;
  }

  .player__btn_fullscreen {
    -webkit-flex-basis: 26px;
    flex-basis: 26px;
    height: 26px;
    background-size: contain;
  }

  .carousel-video__wrapper {
    padding-bottom: 82%;
  }

  .video__item video {
    height: 70%;
  }

  .video__item-btn {
    top: 35%;
    width: 60px;
    height: 40px;
    background-size: 60px 40px;
  }

  .video__item-name {
    bottom: 35%;
    left: 15px;
    height: 30px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 30px;
    background-size: 30px 30px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .gallery__heading {
    margin-bottom: 60px;
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .gallery__pictures {
    max-height: 1000px;
  }

  .pictures__inner {
    gap: 0 3.8%;
  }

  .pictures__gradient {
    height: 239px;
  }

  /* TICKETS */
  .tickets__container {
    padding: 60px 0;
    gap: 84px 0;
  }

  .tickets__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .tickets__content {
    display: flex;
    gap: 0 80px;
  }

  .tickets__type-list {
    display: none;
  }

  .tickets__amount-list {
    align-items: flex-start;
  }

  .amount-list__heading {
    margin-bottom: 18px;
  }

  .tickets__counter {
    width: 175px;
    margin-top: 9px;
    padding: 0 13px;
  }
  
  .amount-list__label_senior {
    margin-top: 29px;
  }

  .amount-list__total {
    margin-top: 24px;
    width: 166px;
    display: flex;
    justify-content: space-between;
  }

  .tickets__btn-submit {
    left: 50%;
    -webkit-transform: translateX(-50% -50%);
    transform: translateX(-50%)
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 60px;
    padding-bottom: 61px;
    gap: 83px 0;
  }

  .contacts__heading {
    font: 400 50px 'Forum', cursive;
    line-height: 75px;
    letter-spacing: 5px;
  }

  .contacts__address {
    width: 26%;
  }

  .address__heading {
    width: 185px;
    margin-bottom: 33px;
    font: 500 24px 'Roboto', sans-serif;
    line-height: 28px;
  }

  .address__item {
    margin-bottom: 17px;
    font: 300 20px 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 0;
  }

  .contacts__map {
    width: 66.5%;
    height: 454px;
    overflow: hidden;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 60px;
    padding-bottom: 68px;
    gap: 4.1%;
  }

  .footer__logo-area {
    -webkit-flex-basis: 20.2%;
    flex-basis: 20.2%;
    height: 33px;
    padding-left: 7%;
    align-items: flex-end;
  }

  .footer__logo-area a {
    line-height: 30.91px;
  }

  .footer__nav {
    -webkit-flex-basis: 31.4%;
    flex-basis: 31.4%;
  }
  .footer__nav-list {
    padding: 7px 0;
    gap: 2.6vw 27px;
  }

  .footer__nav li {
    height: 24px;
  }

  .footer__socials {
    padding-bottom: 17px;
  }

  .footer__socials-list li {
    width: 4.5vw;
    height: 4.5vw;
    margin-left: 2.45vw;
  }

  .footer__container_bottom {
    height: 122px;
    padding-bottom: 63px;
  }

  .footer__container_bottom::before {
    bottom: 154px;
  }
  
  .rs {
    padding-left: 13px;
  }

  /* FORM */
  .form__wrapper {
    width: 1024px;
  }

  .scroll-up__btn {
    /* right: calc((100% - 984px) / 2); */
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  /* HEADER */
  .header__container {
    height: 110px;
    align-items: center;
  }

  .header__logo-area {
    width: 198px;
    height: 41px;
    align-items: flex-end;
    background-position: 0 55%;
  }

  .logo-area__heading {
    line-height: 0;
  }

  /* BURGER */
  .header__nav-list {
    top: 110px;;
    left: -768px;
    width: 100%;
    height: 861px;
    padding: 39px 55px;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    background: var(--bg-dark);
  }

  .nav-list__link {
    letter-spacing: 1.5px;
  }

  .header .nav-list__item:nth-child(7)::after {
    content: "";
  }

  .header__nav-footer {
    display: none;
  }

  .header__nav-footer.shown {
    margin: 0;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
  }

  .nav__footer-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav__footer-img:nth-child(1) {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    height: 194px;
    background: url(assets/img/nav-768-img3.jpg);
  }

  .nav__footer-img:nth-child(2) {
    flex-grow: 1;
    height: 161px;
    background: url(assets/img/nav-768-img2.jpg);
  }

  .nav__footer-img:nth-child(3) {
    flex-grow: 1;
    height: 161px;
    background: url(assets/img/nav-768-img1.jpg);
  }

  .nav__footer-list {
    align-items: center;
  }

  .nav__footer-socials {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid var(--white);
  }

  .nav__footer-list {
    width: 340px;
    margin: 0 auto;
    gap: 0 25px;
  }

  .footer__socials-item {
    width: 48px;
    height: 48px;
    margin: 0;
    border: 1px solid #666666;
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .footer__socials-item a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .footer__socials-item:hover,
  .footer__socials-item:active {
    filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  }
  /*-----------------------------------------*/

  /* WELCOME */
  .welcome__info {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
  }

  .welcome__heading {
    width: 100%;
    text-align: center;
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .welcome__paragraph {
    width: 100%;
    font: 300 20px 'Roboto', sans-serif;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center;
  }

  .welcome__button {
    display: none;
  }

  .carousel {
    margin-left: 0;
    padding-top: 215px;
  }

  .carousel__container {
    padding-bottom: 96px;
  }

  .carousel__item {
    height: auto;
    overflow: initial;
  }

  .carousel__item::after {
    display: none;
  }

  .carousel__controls {
    height: 100px;
    padding: 0 10% 0 10%;
  }

  .controls__dots {
    gap: 0 3.25vw;
  }

  /* VISITING */
  .visiting__container {
    padding-top: 40px;
    padding-bottom: 65px;
  }

  .visiting__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .cards__wrapper {
    margin-top: 63px;
    padding: 0 56px;
    gap: 25px 56px;
  }

  .cards__wrapper img {
    max-width: 280px;
    height: 180px;
  }

  .cards__heading {
    margin-top: 21px;
    font-size: 22px;
    line-height: 24.29px;
    letter-spacing: 3px;
  }

  .cards__description {
    font-size: 18px;
    line-height: 21.09px;
  }

  .cards__description--small {
    font-size: 16px;
    line-height: 18.75px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .explore__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .explore__text-area {
    width: 100%;
  }

  .explore__paragraph {
    font-size: 18px;
  }

  .explore__paragraph_first {
    margin-top: 50px !important;
  }

  .photos {
    margin-top: 63px;
    width: 100%;
    height: 705px;
  }

  .separator {
    top: 51.7%;
    left: 50%;
  }

  .separator::before {
    height: 344px;
  }

  .separator::after {
    height: 321px;
  }

  /* VIDEO */
  .video__container {
    padding-top: 40px;
    padding-bottom: 80px;
    gap: 20px 0;
  }

  .video__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .video__players {
    gap: 21px 0;
  }

  .player__wrapper {
    position: relative;
  }

  .player__inner {
    height: 385px;
  }

  .player,
  .player__control-panel {
    max-width: 728px;
  }

  .player {
    height: 329px;
  }

  .player__btn_large-play {
    left: calc((100% - 80px) / 2);
    top: calc((100% - 136px) / 2);
    width: 80px;
    height: 80px;
  }

  .player__controls {
    position: relative;
    gap: 0 5.3%;
  }

  .player__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .player__btn_small-play {
    width: 23px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .volume__container {
    -webkit-flex-basis: 548px;
    flex-basis: 548px;
    gap: 0 35px;
  }

  .player__btn_mute {
    width: 27px;
    height: 21px;
  }

  .player__volume {
    -webkit-flex-basis: 486px;
    flex-basis: 486px;
  }

  .video__carousel {
    gap: 20px;
  }

  .carousel__list {
    padding-bottom: 27.3%;
  }

  .video__item {
    width: 48.6%;
  }

  .carousel-video__wrapper {
    padding-bottom: 55%;
  }

  .video__item video {
    height: auto;
  }

  .controls__list {
    gap: 18px;
  }

  .video__item-btn {
    top: 50%;
  }

  .video__item-name {
    bottom: 5%;
    font-size: 14px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 40px;
  }

  .gallery__heading {
    margin-bottom: 40px;
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .gallery__pictures {
    max-height: 750px; 
  }

  .pictures__inner {
    grid-template-columns: 1fr 1fr;
    gap: 0 3.3%;
  }

  .pictures__inner img:nth-child(2n+1) {
    grid-column-start: 1;
    top: 50px;
  }
  
  .pictures__inner img:nth-child(2n) {
    grid-column-start: 2;
    top: 0;
  }

  /* TICKETS */
  .tickets__container {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 63px 0;
  }

  .tickets__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .tickets__content {
    height: 430px;
    gap: 0 60px;
  }

  .amount-list__heading {
    margin-bottom: 26px;
  }

  .tickets__counter {
    margin-top: 9px;
    padding: 0 15px;
  }

  .amount-list__label_senior {
    margin-top: 25px;
  }

  .amount-list__total {
    margin-top: 39px;
  }

  /* PARALLAX */
  .parallax {
    height: 300px;
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 40px;
    padding-bottom: 67px;
    flex-direction: column;
    gap: 0;
  }

  .contacts__heading {
    font: 400 40px 'Forum', cursive;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .address__heading {
    width: 155px;
    padding-top: 63px;
    margin-bottom: 40px;
    font: 500 20px 'Roboto', sans-serif;
    line-height: 23.44px;
  }

  .contacts__address {
    width: 100%;
  }
  
  .address__item {
    margin-bottom: 15px;
    font: 300 18px 'Roboto', sans-serif;
    line-height: 21.09px;
    letter-spacing: 0;
  }

  .contacts__map {
    width: 100%;
    height: 476px;
    margin-top: 24px;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 48px;
    padding-bottom: 0;
    flex-wrap: wrap;
    gap: 22px 0;
  }

  .footer__logo-area {
    height: 26px;
    padding-left: 10%;
    background-size: 25% 100%;
  }

  .footer__logo-area a {
    line-height: 17.91px;
  }


  .footer__nav {
    -webkit-flex-basis: 56.5%;
    flex-basis: 56.5%;
    padding-left: 9.7%;
  }

  .footer__nav-list {
    gap: 22px 0;
  }

  .footer__nav-list a {
    font-size: 18px;
    line-height: 21.09px;
  }

  .footer__socials {
    padding-right: 90px;
    padding-bottom: 0;
  }

  .footer__socials-list li {
    width: 6vw;
    height: 6vw;
    margin-left: 3.6vw;
  }

  .footer__container_bottom {
    height: 102px;
    padding-top: 93px;
  }

  .footer__container_bottom::before {
    bottom: 115px;
  }

  .footer__container_bottom > div {
    -webkit-flex-basis: 15%;
    flex-basis: 15%;
  }

  .footer__container_bottom div:nth-child(2) {
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
  }
  
  .bottom {
    display: block;
    text-align: center;
  }

  /* FORM */
  .form__wrapper {
    width: 590px;
    height: 100vh;
    overflow-y: scroll;
  }

  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 50px 0;
  }

  .payment__card {
    height: 240px;
  }

  .front {
    top: 6px;
    left: -1px;
    width: 75%;
    height: 211px;
  }

  .back {
    width: 85%;
    margin-top: 35px;
    margin-left: 15%;
    height: 211px;
  }

  .back__cvv {
    width: 8.5vw;
  }

  .close {
    right: 30px;
  }


  .scroll-up__btn {
    /* right: calc((100% - 728px) / 2); */
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .container {
    max-width: 420px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .forum-font-80 {
    text-align: center;
  }

  .underline-title::after {
    bottom: -12px;
  }

  .underline-subtitle::after {
    bottom: -9px;
  }

  /* HEADER */
  .header__container {
    height: 90px;
    padding: 0;
  }

  .header__logo-area {
    width: 138px;
    height: 27px;
    background-size: 29px 16px;
    background-position: 0 36%;
  }

  .logo-area__heading {
    font-size: 16px;
    line-height: 18px;
  }

  /* BURGER */
  .header__nav-list {
    top: 90px;
    left: -420px;
    height: 544px;
  }

  .nav__footer-images {
    gap: 0 13px;
  }

  .nav__footer-img {
    flex-grow: 1;
    height: 95px !important;
  }

  .nav__footer-img:nth-child(1) {
    -webkit-flex-basis: 0;
    flex-basis: 0;
  }

  .nav__footer-socials {
    margin-top: 19px;
    padding-top: 24px;
  }

  .nav__footer-list {
    width: 260px;
    gap: 0 5px;
  }
  /*-----------------------------------*/

  /* WELCOME */
  .welcome__heading {
    padding-top: 6px;
    font-size: 28px;
    line-height: 40px;
  }

  .welcome__paragraph {
    font-size: 16px;
    line-height: 19px;
  }

  .carousel {
    margin-left: 0;
    padding-top: 180px;
  }

  .carousel__container {
    padding-bottom: 75px;
  }

  .carousel__controls {
    height: 80px;
    padding: 0 10%;
  }

  .controls__count {
    font-size: 16px;
    letter-spacing: 0.7px;
  }

  .controls__dots {
    gap: 0 10px;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

  .controls__buttons {
    gap: 0 13px;
  }

  .controls__buttons > button {
    width: 20px;
    height: 8px;
    background-size: 20px 8px;
    background-repeat: no-repeat;
  }

  /* VISITING */
  .visiting__container {
    padding-top: 31px;
    padding-bottom: 18px;
  }

  .visiting__heading {
    font-size: 28px;
  }

  .cards__wrapper {
    flex-direction: column;
    margin-top: 52px;
    padding: 0px 13%;
    gap: 19px 0;
  }

  .cards__wrapper img {
    max-width: 100%;
    height: auto;
  }

  .cards__heading {
    margin-top: 18px;
    font-size: 18px;
    letter-spacing: 5px;
  }

  .cards__description {
    font-size: 16px;
    margin-bottom: 18px;
  }

  /* EXPLORE */
  .explore__container {
    padding-top: 32px;
  }

  .explore__heading {
    font-size: 28px;
  }

  .explore__paragraph {
    font-size: 16px;
    line-height: 30px;
  }

  .explore__paragraph_first {
    margin-top: 30px !important;
  }

  .photos {
    margin-top: 51px;
    height: 368px;
  }

  .photo-original {
    width: 50%;
  }

  .separator {
    top: 51.8%;
    width: 20px;
    height: 20px;
    border-width: 3px;
  }

  .separator::before, .separator::after {
    left: 5.4px;
    width: 2px;
  }

  .separator::before {
    bottom: 16px;
    height: 181.5px;
  }

  .separator::after {
    top: 16px;
    height: 168px;
  }

  /* VIDEO */
  .video__container {
    padding-top: 27px;
    padding-bottom: 40px;
    gap: 9px 0;
  }

  .video__heading {
    font-size: 28px;
  }

  .video__players {
    gap: 39px 0;
  }

  .player__inner {
    height: 226px;
    grid-template-rows: 1fr 55px;
  }

  .player, .player__control-panel {
    max-width: 380px;
  }

  .player {
    height: 172px;
  }

  .player__controls {
    padding: 0 5%;
  }

  .player__control-panel {
    height: 55px;
    padding: 0 20px;
    gap: 0 30px;
  }

  .player__btn_large-play {
    left: calc((100% - 51px) / 2);
    top: calc((100% - 104px) / 2);
    width: 50px;
    height: 50px;
  }

  .player__btn_small-play {
    -webkit-flex-basis: 14px;
    flex-basis: 14px;
    height: 18px;
  }

  .progress-input {
    height: 8px;
  }

  .volume__container {
    -webkit-flex-basis: 80%;
    flex-basis: 80%;
    gap: 5%;
  }

  .player__btn_mute {
    -webkit-flex-basis: 27%;
    flex-basis: 27%;
    height: 14px;
  }

  .player__volume {
    width: 63.8%;
  }

  .player__btn_fullscreen {
    -webkit-flex-basis: 18px;
    flex-basis: 18px;
    height: 18px;
  }

  .video__carousel {
    gap: 38px;
  }

  .controls__list {
    gap: 20px;
  }

  .video-dot {
    width: 8px;
    height: 8px;
  }

  .prev_btn,
  .next_btn {
    width: 7px;
    height: 8px;
    background-size: 7px 8px;
  }

  .video__item-name {
    bottom: 5%;
    left: 5%;
    height: 20px;
    padding-left: 25px;
    font-size: 12px;
    line-height: 20px;
    background-size: 20px 20px;
  }

  .video__item-btn {
    width: 45px;
    height: 25px;
    background-size: 45px 25px;
  }

  /* GALLERY */
  .gallery__container {
    padding-top: 31px;
  }

  .gallery__heading {
    margin-bottom: 29px;
    font-size: 28px;
  }

  .gallery__pictures {
    max-height: 637px;
  }

  .pictures__inner {
    gap: 0 6%;
  }

  .pictures__inner img {
    margin-bottom: 24.5px;
  }

  /* TICKETS */
  .tickets__container {
    padding-top: 31px;
    gap: 52px 0;
  }

  .tickets__heading {
    font-size: 28px;
  }

  .tickets__content {
    flex-direction: column;
    height: 576px;
  }

  .img__wrapper {
    width: 100%;
    height: 160px;
  }

  .amount-list {
    width: 175px;
    height: 416px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .amount-list__heading,
  .amount-list__label,
  .amount-list__total,
  .tickets__btn-submit {
    font-size: 16px;
  }

  .amount-list__heading {
    margin-bottom: 10px;
    align-self: center;
  }

  .tickets__counter {
    margin-top: 15px;
  }

  .amount-list__label_senior {
    margin-top: 20px;
  }

  .amount-list__total {
    width: 80px;
    align-self: center;
    letter-spacing: 0;
  }

  .tickets__btn-submit {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /* CONTACTS */
  .contacts__container {
    padding-top: 31px;
    padding-bottom: 40px;
  }

  .contacts__heading {
    font-size: 28px;
  }

  .address__heading,
  .address__item {
    font-size: 16px;
  }

  .contacts__address {
    align-items: center;
  }

  .address__heading {
    width: 130px;
    padding-top: 52px;
    line-height: initial;
    text-align: center;
  }

  .address__item {
    margin-bottom: 12px;
  }

  .contacts__map {
    height: 248px;
    margin-top: 28px;
  }

  /* FOOTER */
  .footer__container_top {
    padding-top: 43px;
    flex-direction: column;
  }

  .footer__logo-area {
    width: 133px;
    padding-left: 13%;
    background-size: 22% 84%;
    align-self: center;
  }

  .footer__nav {
    padding-left: 0;
  }

  .footer__nav-list {
    height: 68px;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px 10%;
  }

  .footer__nav-list li {
    height: auto;
  }

  .footer__nav-list li:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer__nav-list li:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .footer__nav-list li:nth-child(3),
  .footer__nav-list li:nth-child(4) {
    padding-left: 5px;
  }

  .footer__nav-list a {
    letter-spacing: 1px;
  }

  .footer__socials {
    padding: 0;
    align-self: center;
  }

  .footer__socials-list {
    padding-top: 35px;
  }

  .footer__socials-list li {
    width: 9vw;
    height: 9vw;
    margin-left: 3vw;
  }

  .footer__container_bottom::before {
    bottom: 113px;
  }

  .rs {
    display: none;
  }

  .bottom {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 3px;
  }

  /* FORM */
  .form__wrapper {
    width: 420px;
  }

  .payment__card {
    height: 443px;
  }

  .credit-cards {
    flex-direction: column;
    gap: 25px 0;
  }

  .card-field {
    position: static;
    width: 100%;
    margin: 0;
  }

  .front__card-img {
    top: 5%;
    height: 15%;
  }

  .back__cvv {
    width: 20.5vw;
  }

  .back__cvv-text {
    width: 95px;
  }
  
  .scroll-up__btn {
    /* right: calc((100% - 380px) / 2); */
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}