/* BASICS */
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --white: #ffffff;
  --black: #000000;
  --font-80: 80px;
  --font-32: 32px;
  --font-28: 28px;
  --font-22: 22px;
}

.forum-font-80 {
  font: var(--font-80) 'Forum', cursive;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.forum-font-32 {
  font: var(--font-32) 'Forum', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
}

.forum-font-28 {
  font: var(--font-28) 'Forum', cursive;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

.roboto-font-28 {
  font: var(--font-28) 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--white);
}

.roboto-font-22-white {
  font: 100 var(--font-22) 'Roboto', sans-serif;
  color: var(--white);
}

.roboto-font-22-black {
  font: 300 var(--font-22) 'Roboto', sans-serif;
  color: var(--black);
}

.bg-dark {
  background: var(--bg-dark);
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-subtitle {
  position: relative;
}
.underline-subtitle::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
  transition: all 0.3s ease;
}

.no-outline {
  outline: none;
  border: none;
}

.no-outline:hover,
.no-outline:active,
.no-outline:focus {
  outline: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
button {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 75px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  width: 100%;
}

.header__container {
  padding-top: 53px;
  padding-bottom: 48px;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list > li {
  margin-left: 56.5px;
}

.header__nav-footer {
  margin-left: 0 !important;
}

.default {
  display: none;
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__container_top {
  width: 1440px;
  column-gap: 145px;
  padding-top: 76px;
}

.footer__logo-area {
  align-self: flex-start;
}

.footer__nav-list {
  flex-wrap: wrap;
  align-content: space-between;
  width: 362px;
  height: 150px;
}

.footer__nav-list li {
  height: 50px;
  align-items: center;
}

.footer__socials {
  padding-bottom: 15px;
  align-self: flex-end;
  flex: 1;
}

.footer__socials-list {
  justify-content: flex-end;
  align-items: center;
}

.footer__socials-list li {
  width: 48px;
  height: 48px;
  margin-left: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
  border-radius: 50%;
  transition: 0.2s ease-out;
}

.footer__socials-list li:nth-child(1) {
  margin-left: 0;
}

.footer__socials-list a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.footer__socials-list li:hover,
.footer__socials-list li:active {
  filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
}

.footer__container_bottom {
  width: 100%;
  height: 60px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.footer__container_bottom::before {
  content: "";
  position: absolute;
  bottom: 93px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #666666;
}

.bottom {
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 100;
  transition: 0.2s linear;
}

.rs:hover,
.rs:active,
.git:hover,
.git:active {
  color: var(--font-gold);
}

/* HEADER & FOOTER COMMON */
.logo-area {
  width: 195px;
  height: 50px;
  justify-content: flex-end;
  background: 0 30% no-repeat url(assets/svg/logo.svg);
  transition: 0.2s ease-out;
}

.logo-area:hover,
.logo-area:active {
  filter: invert(57%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(89%);
  color: var(--font-gold);
  cursor: pointer;
}

.nav-list a {
  line-height: 50%;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: 0.2s ease-out;
}

.nav-list a:hover,
.nav-list a:active {
  color: var(--font-gold);
}

/* MAIN */
.main {
  flex: 1;
}

/*WELCOME */
.welcome {
  width: 100%;
}

.welcome__img-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(assets/img/new-welcome-background.jpg);
  background-position: bottom 60px right 0;
  background-repeat: no-repeat;
}

.welcome__container {
  position: relative;
  padding: 148px 0 270px 0;
}

.welcome__slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  padding: 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-dark);
}

.slider__count {
  line-height: 40px;
  letter-spacing: 1.7px;
}

.slider__dots {
  display: flex;
  column-gap: 25px;
}

.dot {
  width: 16px;
  height: 16px;
  background: var(--white);
  transition: 0.2s linear;
}

.dot:hover,
.dot:active {
  background-color: #D2B183;
  cursor: pointer;
}

.dot_default {
  background: #d2b183;
}

.slider__buttons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.slider__buttons button:hover,
.slider__buttons button:active {
  cursor: pointer;
  filter: invert(30%) sepia(15%) saturate(1000%) hue-rotate(356deg) brightness(100%) contrast(75%);
}

.welcome_prew {
  width: 30px;
  height: 8px;
  background-image: url(assets/svg/welcome-slider-prew.svg);
  background-color: transparent;
  transition: 0.2s linear;
}

.welcome_next {
  width: 30px;
  height: 8px;
  background-image: url(assets/svg/welcome-slider-next.svg);
  background-color: transparent;
  transition: 0.2s linear;
}

.welcome__heading {
  width: 600px;
  color: var(--white);
}

.welcome__paragraph {
  margin: 26px 0 76px 0;
}

.welcome__button {
  display: block;
  width: 360px;
  height: 75px;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  background-color: var(--dark-red);
  border-radius: 10px;
  transition: 0.2s ease-out;
}

.welcome__button:hover,
.welcome__button:active {
  background-color: var(--font-gold);
}

/* VISITING */
.visiting {
  width: 100%;
}

.visiting__container {
  padding-top: 75px;
  padding-bottom: 57px;
}

.visiting__heading {
  color: var(--font-gold);
}

.cards__wrapper {
  width: 100%;
  margin-top: 102px;
  flex-wrap: wrap;
  row-gap: 59px;
  column-gap: 60px;
}

.card {
  display: block;
}

.card:hover .underline-subtitle::after,
.card:active .underline-subtitle::after {
  width: 100%;
}

.cards__heading {
  margin-top: 20px;
}

.cards__description {
  margin-top: 21px;
  margin-bottom: 17px;
  font-weight: 100;
}

.cards__description--small {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

/* EXPLORE */
.explore {
  width: 100%;
}

.explore__container {
  padding-top: 76px;
  padding-bottom: 71px;
  justify-content: space-between;
  align-items: flex-start;
}

.explore__text-area {
  max-width: 660px;
}

.explore__heading,
.explore__paragraph {
  color: var(--white);
}

.explore__paragraph {
  margin-top: 25px;
  font-weight: 300;
  line-height: 38.5px;
}

.explore__paragraph_first {
  margin-top: 105px !important;
  max-width: 640px;
}

.explore__yellow-text {
  color: #caaa7d;
}

.explore__img-area {
  padding-top: 15px;
}

/* VIDEO */
.video {
  width: 100%;
}

.video__container {
  padding-top: 75px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}

.video__players {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.other-videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 42px;
  row-gap: 36px;
}

.other-videos iframe {
  border: none;
}

.slider__controls {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slider__controls div {
  transition: 0.2s linear;
}

.slider__controls div:hover,
.slider__controls div:active {
  background: #333333;
  cursor: pointer;
}

.slider-prew {
  width: 10px;
  height: 12px;
  background: url(assets/svg/video-slider-prew.svg);
  background-color: transparent;
  transition: 0.2s linear;
}

.slider-next {
  width: 10px;
  height: 12px;
  background: url(assets/svg/video-slider-next.svg);
  background-color: transparent;
  transition: 0.2s linear;
}

.slider-prew:hover,
.slider-next:hover,
.slider-prew:active,
.slider-next:active {
  cursor: pointer;
  filter: invert(90%) sepia(50%) saturate(90%) hue-rotate(262deg) brightness(0%) contrast(90%) !important;
  opacity: 1 !important;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #999999;
}

.slider__dot_default {
  background: #333333;
}

.player__wrapper {
  padding-top: 35px;
  position: relative;
  flex-grow: 3;
}

.video__heading {
  flex-basis: 50%;
  color: var(--font-gold);
}

.video__text {
  flex-basis: 50%;
  line-height: 38.5px;
}

.player__btn_large-play {
  position: absolute;
  left: calc((100% - 220px) / 2);
  top: calc((100% - 270px) / 2);
  width: 220px;
  height: 220px;
  background-image: url(assets/svg/large-play-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.player__control-panel {
  align-items: center;
  gap: 50px;
  padding: 0 30px;
  width: 1440px;
  height: 85px;
  background-color: var(--black);
}

.player__btn_small-play {
  width: 23px;
  height: 31px;
  background-image: url(assets/svg/small-play-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.player__btn_progress {
  width: 929px;
  height: 15px;
}

.volume-btns_container {
  align-items: center;
  gap: 46px;
}

.player__btn_mute {
  width: 38px;
  height: 31px;
  background-image: url(assets/svg/sound-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.player__btn_volume {
  width: 155px;
  height: 15px;
}

.player__btn_fullscreen {
  width: 35px;
  height: 35px;
  margin-left: 8px;
  background-image: url(assets/svg/fullscreen-btn.svg);
  background-color: transparent;
  transition: 0.2s ease-out;
}

.video button:hover,
.video button:active {
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(2806%) hue-rotate(227deg) brightness(108%) contrast(80%);
}


/* GALLERY */
.gallery {
  width: 100%;
}

.gallery__container {
  padding-top: 75px;
}

.gallery__heading {
  color: var(--white);
  margin-bottom: 75px;
}

.gallery__pictures {
  position: relative;
  max-height: 1885px;
  overflow: hidden;
}

.pictures__inner {
  columns: 3;
  column-gap: 36px;
}

.pictures__inner img:nth-child(1),
.pictures__inner img:nth-child(10) {
  margin-top: 50px;
}

.pictures__inner img {
  max-width: 456px;
  margin-bottom: 24px;
  padding: 0;
}


.pictures__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}


/* TICKETS */
.tickets {
  width: 100%;
}

.tickets__container {
  padding-top: 75px;
  padding-bottom: 72px;
  row-gap: 102px;
}

.tickets__heading {
  color: var(--font-gold);
}

.tickets__content {
  position: relative;
  display: grid;
  grid-template-columns: 54.2% auto auto;
}

.type-list__heading,
.amount-list__heading {
  font-weight: 700;
  letter-spacing: normal;
  color: var(--black);
}

.type-list__heading {
  margin-bottom: 25px;
}

.amount-list__heading {
  margin-bottom: 15px;
}

/* ------------------------ */
.tickets__type-list {
  align-items: flex-start;
  row-gap: 25px;
}

.type-list__label {
  position: relative;
  padding-left: 40px;
  font-weight: 300;
  cursor: pointer;
}

.type-list__label:hover input ~ .checkmark,
.type-list__label:active input ~ .checkmark {
  background-color: #ccc;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  border: 2px solid var(--black);
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s linear;
}

.type-list__input {
  position: absolute;
  opacity: 0;
}

.type-list__label input:checked ~ .checkmark {
  background-color: var(--dark-red);
}

/* -------------------- */
.tickets__amount-list {
  align-items: flex-end;
}

.amount-list__label {
  margin-top: 10px;
  padding-right: 56px;
  font-weight: 300;
}

.amount-list__label_senior {
  padding-right: 47px;
  margin-top: 12px;
}

.tickets__counter {
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 13px;
  padding: 0 11px;
  border: 3px solid var(--black);
}

.counter_btn-minus,
.counter_btn-plus {
  font: 400 32px 'Roboto', sans-serif;
  color: var(--black);
  background: transparent;
  transition: 0.2s linear;
}

.counter_btn-minus:hover,
.counter_btn-plus:hover,
.counter_btn-minus:active,
.counter_btn-plus:active {
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(2806%) hue-rotate(227deg) brightness(40%) contrast(60%);
} 

/* hiding count arrows from input type number */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.counter-result {
  width: 26px;
  height: 26px;
  font: 300 22px 'Roboto', sans-serif;
  text-align: center;
  color: var(--black);
  background: transparent;
}

.amount-list__total {
  margin-top: 48px;
  font-weight: 700;
  letter-spacing: 1.65px;
  color: var(--black);
}

.tickets__btn-submit {
  position: absolute;
  right: 0;
  bottom: 110px;
  width: 175px;
  height: 50px;
  letter-spacing: 2px;
  color: var(--white);
  background: var(--black);
  border-radius: 2px;
  transition: 0.2s ease-out;
}

.tickets__btn-submit:hover,
.tickets__btn-submit:active {
  background: var(--font-gold);
  cursor: pointer;
}

/* Tickets FORM */
.pop-up_form {
  position: fixed;
  z-index: 1000;
  top: calc((100vh - 849px) / 2);
  left: calc((100% - 1440px) / 2);
  width: 1440px;
  height: 849px;
  visibility: visible;
  background-color: var(--white);
  transition: all 0.3s ease;
  transition-duration: 1s;
}

.pop-up_form.closed {
  left: -1800px;
  visibility: hidden;
  transition: all 0.3s ease;
  transition-duration: 1s;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  background: transparent url(assets/svg/tickets-form-close.svg) center center;
  transition: 0.2s linear;
}

.close:hover,
.close:active {
  cursor: pointer;
  transform: rotate(90deg);
}

.pop-up__overlay {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  transition: 1s ease;
  transition-duration: 1s;
  opacity: 0.8;
  visibility: visible;
}

.pop-up__overlay.transparent {
  opacity: 0;
  visibility: hidden;
}

.pop-up__container {
  padding: 91px 235px;
}

.form__container {
  margin: 0 auto;
  display: flex;
  column-gap: 40px;
}

/* LEFT SIDE */
.form__heading,
.form__description {
  width: 400px;
}

.form__heading {
  height: 94px;
  margin-bottom: 15px;
  padding-top: 41px;
  font: 50px 'Forum', cursive;
  text-transform: uppercase;
  color: var(--font-gold);
  background: transparent url(assets/svg/form-logo.svg) no-repeat 0 0;
}

.form__description {
  height: 34px;
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  color: #710707;
  border-bottom: 3px solid#740C11;
}

.form__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 60px;
}

.form__date-and-time {
  display: flex;
  column-gap: 20px;
}

.form__input,
.date__wrapper,
.time__wrapper {
  width: 400px;
  height: 45px;
  padding-left: 45px;
  border: 1px solid var(--bg-dark);
  font: 400 18px 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  color: var(--bg-dark);
}

.form__input::placeholder {
  color: var(--bg-dark);
  opacity: 1;
}

.date__wrapper,
.time__wrapper {
  position: relative;
  width: 190px;
  padding-top: 12px;
}

.date,
.time {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
  cursor: pointer;
}

.date__wrapper {
  background-image: url(assets/svg/date-icon-input.svg);
}

.time__wrapper {
  background-image: url(assets/svg/time-icon-input.svg);
}

.name {
  background-image: url(assets/svg/name-icon-input.svg);
}

.email {
  background-image: url(assets/svg/email-icon-input.svg);
}

.tel {
  background-image: url(assets/svg/phone-icon-input.svg);
}

.ticket {
  position: relative;
  padding-left: 39px;
  background-image: url(assets/svg/ticket-icon-input.svg);
  cursor: pointer;
}

.form__quantity {
  width: 400px;
  height: 135px;
  padding: 10px 15px;
  border: 1px solid var(--bg-dark);
}

.quantity__heading {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font: 400 18px 'Forum', cursive;
  line-height: 20px;
  border-bottom: 2px solid #740C11;
  color: var(--font-gold);
}

.basic__row,
.senior__row {
  justify-content: space-between;
  align-items: center;
}

.basic__row {
  margin-bottom: 18px;
}

.basic__name,
.senior__name {
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  color: var(--bg-dark);
}

.name__count {
  width: 105px;
  height: 25px;
  display: flex;
  border: 1px solid var(--bg-dark);
}

.name__count input,
.name__count button {
  width: 35px;
  cursor: pointer;
}

.name__count button {
  background-color: var(--bg-dark);
  color: var(--white);
}

.name__count button:hover {
  background: var(--font-gold);
}

.name__count input {
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  text-align: center;
  color: var(--bg-dark);
}

/* RIGHT SIDE */
.form__container_right {
  position: relative;
  width: 530px;
  height: 663px;
  padding: 25px 30px;
  border: 1px solid var(--bg-dark);
}

.payment__poster {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 150px;
  height: 120px;
  background: url(assets/img/payment-poster.jpg);
}

.payment__heading {
  margin-bottom: 2px;
  font: 500 32px 'Roboto', sans-serif;
  line-height: 38px;
  color: #272727;
}

.payment__description {
  margin-bottom: 10px;
  font: 500 22px 'Roboto', sans-serif;
  line-height: 25,78px;
  color: #740C11;
}

.payment__date,
.payment__time,
.payment__ticket {
  padding-left: 30px;
  margin-bottom: 5px;
  font: 300 18px 'Roboto', sans-serif;
  line-height: 21,09;
  color: var(--bg-dark);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.payment__date {
  background-image: url(assets/svg/date-icon-input.svg);
}

.payment__time {
  background-image: url(assets/svg/time-icon-input.svg);
}

.payment__ticket {
  margin-bottom: 22px;
  background-image: url(assets/svg/ticket-icon-payment.svg);
}

.payment__basic,
.payment__senior {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.payment__senior {
  padding-bottom: 9px;
  border-bottom: 2px solid #740C11;
}

.payment__basic_num,
.payment__senior_num {
  width: 32px;
  height: 20px;
  font: 400 18px 'Roboto', sans-serif;
  line-height: 21px;
  text-align: center;
  background: var(--bg-dark);
  border-radius: 6px;
  color: #a4a4a3;
}

.payment__basic_name,
.payment__senior_name,
.payment__basic_price,
.payment__senior_price {
  font: 400 22px 'Roboto', sans-serif;
  line-height: 26px;
  color: var(--bg-dark);
}

.payment__basic_name,
.payment__senior_name {
  padding-left: 10px;
  flex-grow: 8;
}

.payment__total {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 32px 'Roboto', sans-serif;
  line-height: 38px;
  color: var(--bg-dark);
}

/* CREDIT CARDS */
.payment__card {
  padding-top: 5px;
  width: 470px;
  height: 241px;
}

.credit-cards {
  position: relative;
  display: flex;
}

.card-field {
  position: absolute;
  width: 360px;
  height: 211px;
  border-radius: 5px;
}

.front {
  top: 0;
  left: 0;
  z-index: 3000;
  background: #BCBCBC;
}

.front__wrap {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.front__wrap label,
.back label {
  display: flex;
  flex-direction: column;
  font: 400 12px 'Roboto', sans-serif;
  line-height: 14px;
  color: #161615;
}

.front__wrap label input,
.front__wrap label select {
  margin-top: 5px;
  height: 35px;
  padding-left: 4px;
  cursor: pointer;
}

.front__card-number {
  width: 215px;
}

.front__card-full-date {
  display: flex;
  column-gap: 15px;
}

.front__card-month,
.front__card-year {
  width: 100px;
}

.front__card-name {
  width: 320px;
}

.front__card-img {
  position: absolute;
  top: 34px;
  right: 20px;
  width: 55px;
  height: 63px;
  background: url(assets/img/credit-card-logo.png);
}

.back {
  margin-top: 30px;
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #939393;
}

.line {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #161615;
}

.back label {
  padding-right: 20px;
  align-items: center;
}

.back__cvv {
  width: 75px;
  height: 35px;
  margin-top: 5px;
  text-align: center;
}

.back__cvv-text {
  width: 55px;
  height: 50px;
  margin-right: 30px;
  margin-top: 6.5px;
  font: 400 10px 'Roboto', sans-serif;
  line-height: 12px;
  color: #161515;
  cursor: pointer;
}
/*-----------------------------------------*/

.payment__btn {
  position: absolute;
  right: 30px;
  bottom: 25px;
  width: 220px;
  height: 45px;
  margin-top: 26px;
  font: 400 22px 'Roboto', sans-serif;
  line-height: 26px;
  color: var(--white);
  background-color: #710707;
  cursor: pointer;
  transition: 0.2s linear;
}

.payment__btn:hover,
.payment__btn:active {
  background-color: var(--font-gold);
}


/* PARALLAX */
.parallax {
  width: 100%;
  height: 400px;
  background-image: url(assets/img/parallax.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* CONTACTS */
.contacts {
  width: 100%;
}

.contacts__container {
  padding-top: 75px;
  padding-bottom: 71px;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 102px;
}

.contacts__heading {
  flex-basis: 100%;
  color: var(--font-gold);
}

.address__heading {
  width: 220px;
  margin-bottom: 50px;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--black);
}

.address__item {
  margin-bottom: 25px;
}

.contacts__address a {
  color: inherit;
}